.currentFrameIcon{
    aspect-ratio:var(--cardAspectRatio);
    height: 100%;
    width: auto;
    border-radius: 3px;
    background: rgba(0,0,0, .12);
    border: 1px solid rgba(0,0,0, 1);
    transition: all .2s ease;
}

.panel.frameWindow .selectorElem .current{
    height: 100%;
}
.panelBtn{
    pointer-events: all;
}

.panelBtn.textInside .preview{
    padding: 10% 0 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px;
    font: normal 10px/14px Inter, sans-serif;
    color: black;
}

.colorsGrid{
    display: grid;
    gap:8px;
    grid-template-columns: repeat(6, 1fr);
    height: max-content;
}

.colorsGrid button{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    outline: none;
    border: none;
}

.panel.frameWindow .layoutPanel{
    width: 360px;
}

.custom{
    padding: 12px;
    border-bottom: 1px solid rgba(0,0,0, .08);
}

.custom form{
    display: flex;
    gap: 8px;
}

.panelDim{
    position: relative;
    flex: 1;
}

.panelDim h6{
    position: absolute;
    left: 12px;
    top: 10px;
    width: -moz-max-content;
    width: max-content;
    font: 600 11px / 16px Inter, sans-serif;
    letter-spacing: .4px;
    text-transform: uppercase;
    color: rgba(0,0,0, .36);
}

.panelDim input{
    font: normal 15px / 20px Inter, sans-serif;
    letter-spacing: -.4px;
    padding: 7px 10px;
    border-radius: 8px;
    background: rgba(0,0,0, .04);
    color: rgba(0,0,0, 1);
    border: 1px solid rgba(0,0,0, .04);
    transition: all .2s ease;
    text-align: right;
    width: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.frames-wrapper{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    padding: 12px;
    border-bottom: 1px solid rgba(0,0,0, .08);
}

.frames-wrapper .frameItem{
    flex: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    flex-grow: 0;
    gap: 0 !important;
    color: rgba(0,0,0, .6);
    padding: 12px 8px !important;
    border-radius: 10px;
    position: relative;

    outline: none;
    border: none;
    background: none;

    pointer-events: all;
}

.frameItem .frameIcon{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.frameItem .frameDetails{
    font: normal 11px / 14px Inter, sans-serif;
    letter-spacing: -.2px;
}

.frameDetails p{
    font: 500 14px / 20px Inter, sans-serif;
    letter-spacing: -.4px;
}

.framePreview span{
    font: 500 15px / 20px Inter, sans-serif;
    letter-spacing: 1.4px;

}

.frameIcon .framePreview{
    width: 100%;
    background: rgba(0,0,0, .04);
    border-radius: 6px;
    border: 1px solid rgba(0,0,0, .36);
    position: relative;
    transition: all .2s ease;
    display: grid;
    place-items: center;
}


.custom form button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 10px;
    max-width: 36px;
    border-radius: 9px;
    background: rgb(127, 127, 127);
    color: rgba(255,255,255, 1);
    font: 500 15px / 20px Inter, sans-serif;
    letter-spacing: -.4px;

    border: none;
    outline: none;
}

.headSection{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 20px;
    padding-bottom: 8px;
}

.headSection img{
    width: 20px;
    height: 20px;
}

.headSection h5{
    font: 500 17px / 24px Inter, sans-serif;
    letter-spacing: -.6px;
}

.frameItem.active{
    background: rgba(0,0,0, .04);
    outline: solid 1.5px rgba(0,0,0, 1) !important;
}

.frameItem:hover{
    background: rgba(0,0,0, .04);
    color: black;
    cursor: pointer;
    transition: all .2s ease;
}

button[type="submit"].clickable{
    pointer-events: all;
    background: black;
    cursor: pointer;
}


button.color{
    cursor: pointer;;
}